body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

header {
    background-color: #342F62;
    color: white;
    padding: 1em 0;
    animation: slideDown 1s ease-in-out;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

main {
    padding: 2em 1em;
}

#downloads {
    background-color: white;
    margin: 2em auto;
    padding: 1em;
    border-radius: 8px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: scaleUp 0.5s ease-in-out;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1em 0;
    animation: fadeInUp 0.5s ease-in-out;
}

li h3 {
    margin: 0.5em 0;
    font-size: 1.5em;
}

li p {
    margin: 0.5em 0;
    font-size: 1em;
    color: #555;
}

li h4 {
    margin: 1em 0 0.5em 0;
    font-size: 1.2em;
    color: #333;
}

li ul {
    list-style-type: disc;
    padding-left: 1.5em;
    text-align: left;
}

li ul li {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #4f17b7;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    padding-top: 100px;
}

a:hover {
    color: #b0a8f3;
}

footer {
    background-color: #f1f1f1;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    animation: fadeIn 1s ease-in-out;
}

footer p {
    margin: 0;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideDown {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

@keyframes scaleUp {
    from { transform: scale(0.8); }
    to { transform: scale(1); }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.img1 {
    margin-right: 40px;
}

.demo {
    padding-top: 20px;
}

.installation-instructions li {
    margin: 0.5em 0;
    align-content: justify;
}

/* Media Queries for Mobile View */
@media (max-width: 600px) {
    header h1 {
        font-size: 2em;
    }

    #downloads {
        margin: 1em;
        padding: 1em;
    }

    .screenshots {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .screenshots img {
        max-width: 90%;
        margin-bottom: 10px;
    }

    .img1 {
        margin-right: 0;
    }

    a {
        padding-top: 20px;
    }

    footer {
        padding: 1em;
        font-size: 0.9em;
    }
}
